/*******************************************************************************
* Dizkus Stylesheet
/*******************************************************************************/

#dizkus ul.post_list,
#dizkus .post_author ul,
#dizkus ul.post_list li.post,
#dizkus .post_author ul li {
    background:none;
    border:none;
    margin:0;
    padding:0;
    list-style: none;
}
#dizkus h2 .editabletopicheader {
    display: inline;
    cursor: pointer;
}
#dizkus .panel-footer a.fa {
    text-decoration: none;
    margin-right: 5px;
}
#dizkus .quotepostlink:hover {
    cursor: hand;
    cursor: pointer;
}

/***********************
/* Post body styles
***********************/
#dizkus .panel {
    position: relative;
}
#dizkus .panel .postdate {
    text-align: right;
}
#dizkus .panel .padright {
    padding-right: 4em;
}
#dizkus .panel .post_author {
    font-size:0.9em;
}
#dizkus .panel .post_author .dzk_avatar {
    text-align: center;
    padding: 1em 0 0.5em 0;
}
#dizkus .panel .postbody .content ul {
    padding-left:40px;
}
#dizkus .panel .postbody .content ul li {
    list-style:square;
}
#dizkus .panel .postbody .dizkusinformation_post {
    margin: 10px;
}
#dizkus .panel .postbody .dzk_postSignature {
    font-style: italic;
    padding: 1em 0 0 1em;
}
#dizkusinformation {
    color: red;
    text-align: center;
    font-weight: bold;
    margin: 0;
    padding: 2px 0;
}
#dizkus .ajaxeditpoststatusbox {
    display:block;
    font-size:110%;
    font-weight:bold;
    padding:5px 0;
}
#dizkus form#nohours-form {
    margin-top: 10px;
}
#dizkus form#nohours-form span {
    vertical-align: -20%;
    color:#777;
    font-size: 1.2em;
}

/***********************
/* FontAwesome additions
***********************/
.fa-150x {
    font-size: 1.5em;
}
#dizkus .fa-stack-2x {
    color:#DCDCDC;
}
#dizkus .navbar-nav li a {
    font-size: 1.2em;
}
#dizkus .navbar-topic .navbar-nav li a {
    font-size: 1.8em;
}
#dizkus .navbar-nav .fa-stack {
    width: 1em;
    height: 1em;
    line-height: normal;
    vertical-align: inherit;
}
#dizkus .navbar-nav .fa-stack-2x {
    top: -.25em;
    left: -.2em;
}

/***********************
/* BOOTSTRAP OVERRIDES
***********************/
#dizkus .tooltip-inner {
    white-space:pre;
    max-width:none;
    font-weight: normal;
    letter-spacing: normal;
}
#dizkus .tab-pane {
    padding: 2em;
    margin-bottom: 1em;
    border-width: 0 1px 1px 1px;
    border-color: #DDD;
    border-style: solid;
}
/***********************
/* FORUM TABLE - modifying bootstrap
***********************/
#dizkus table.table  {
    border-top: 1px solid #999999;
}
#dizkus table.table th {
    color: #999999;
}
#dizkus table.table th a {
    margin-left: .75em;
}
#dizkus table.table .data {
    width: 6em;
    text-align: center;
}
#dizkus table.table .lastpost {
    width: 30%;
}
#dizkus .panel-footer #forum-legend {
    padding: 1em;
}

/***********************
/* CORNER RIBBONS
/* inspired by http://css-tricks.com/snippets/css/corner-ribbon/
***********************/
.ribbon-wrapper-right,
.ribbon-wrapper-left {
    width: 85px;
    height: 88px;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
}
.ribbon-wrapper-left {
    left: 0;
    right: auto;
}
.ribbon-right,
.ribbon-left {
    font: bold 10px Sans-Serif;
    text-align: center;
    -webkit-transform: rotate(45deg);
    -moz-transform:    rotate(45deg);
    -ms-transform:     rotate(45deg);
    -o-transform:      rotate(45deg);
    position: relative;
    padding: 3px 0 3px 3px;
    top: 15px;
    width: 120px;
}
.ribbon-left {
    -webkit-transform: rotate(-45deg);
    -moz-transform:    rotate(-45deg);
    -ms-transform:     rotate(-45deg);
    -o-transform:      rotate(-45deg);
    padding: 3px 3px 3px 0;
    left: -30px;
}
.ribbon-green {
    background-color: #dff0d8;
    color: #468847;
    border:1px solid;
}
.ribbon-blue {
    background-color: #d9edf7;
    color: #3a87ad;
    border: 1px solid;
}
.ribbon-red {
    background-color: #A60400;
    color: #ffffff;
}

/***********************
/* THEME CORRECTIONS
************************/
#dizkus h2 {
    background-color: transparent !important;
}
#dizkus .panel-heading h2.dizkus-clean {
    padding: 0;
    margin: 0;
}
#dizkus .pagination {
    padding: 1em 0;
}

/***********************
/* STYLING FOR QUOTES AND CODE
***********************/
div.dz-quoteheader,
div.dz-codeheader {
    font-size: 1em;
    font-weight: bold;
}
.dz-code {
    margin: 1em 0;
}
.dz-codetext .pre-scrollable {
    padding: .5em;
    overflow-y: auto;
    word-wrap: normal;
    white-space: pre;
}
.dz-quote {
    background-color: #f5f5f5;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius-bottomright: 10px;
    -webkit-border-bottom-right-radius: 10px;
    border-radius: 5px;
    position: relative;
    padding: 3px;
}
.dz-quotetext {
    /* compensate for spacelab styles */
    border: 0;
    padding: 0;
    margin: 0;
    font-size: inherit;
}
.dz-quote .inner {
    padding: 9px;
    position: relative;
    z-index: 1;
}
.dz-quote i.fa-quote-right {
    position: absolute;
    bottom: 0;
    right: 3px;
}
.dz-quote i.fa-quote-left {
    position: absolute;
    top: 0;
    left: 3px;
}