<!--[*  $Id: pnforum_user_latestposts.html,v 1.22 2005/11/13 08:04:28 landseer Exp $  *]-->

<!--[ include file=pnforum_user_header.html ]-->

<h1 style="background:#CF595B; text-align: center;color:#ffffff"><!--[ pnml name='_PNFORUM_OURLATESTPOSTS' ]--> (<!--[ $text ]-->)</h1>
<form name="latestposts" method="post" action="<!--[ pnmodurl modname=pnForum type=user func=viewlatest ]-->">
<div style="text-align: center; background:#B9BAC6;">
    [ <a href="<!--[ pnmodurl modname=pnForum type=user func=viewlatest selorder=3 ]-->"><!--[ pnml name='_PNFORUM_YESTERDAY' ]--></a> ]
    [ <a href="<!--[ pnmodurl modname=pnForum type=user func=viewlatest selorder=2 ]-->"><!--[ pnml name='_PNFORUM_TODAY' ]--></a> ]
    [ <a href="<!--[ pnmodurl modname=pnForum type=user func=viewlatest selorder=1 ]-->"><!--[ pnml name='_PNFORUM_LAST24' ]--></a> ]
    [ <button style="border: 1px solid black; margin: 0; background: transparent; text-decoration: underline;" type="submit"><!--[ pnml name='_PNFORUM_LAST' ]--></button> <input type="text" name="nohours" id="pnForum_hours" size="3" value="<!--[ $nohours ]-->" maxlength="3" tabindex="0" /> <button style="border: 1px solid black; margin: 0; background: transparent; text-decoration: underline;" type="submit"><!--[ pnml name='_PNFORUM_HOURS' ]--></button> ]
</div>
<div style="text-align: center; background:#B9BAC6;">
    [ <a href="<!--[ pnmodurl modname=pnForum type=user func=viewlatest selorder=4 ]-->"><!--[ pnml name='_PNFORUM_LASTWEEK' ]--></a> ]
    [ <a href="<!--[ pnmodurl modname=pnForum type=user func=viewlatest selorder=4 unanswered=1 ]-->"><!--[ pnml name='_PNFORUM_UALASTWEEK' ]--></a> ]
    <!--[ if $last_visit_unix <> 0]-->
    [ <a href="<!--[ pnmodurl modname=pnForum type=user func=viewlatest selorder=6 ]-->"><!--[ pnml name='_PNFORUM_LASTVISIT' ]--></a> ]
    <!--[ /if ]-->
</div>
</form>


<h2 style="text-align: center; margin-top: 1.5em;"><a id="postings"></a><!--[ pnml name='_PNFORUM_FORUMS' ]--></h2>
<table border="0" cellpadding="3" cellspacing="1" width="100%">
	<tr style="background:#CF595B; text-align: left;text-color:#ffffff;">
          <td width="50%"><strong><!--[ pnml name='_PNFORUM_TOPIC' ]--></strong></td>
          <td width="15%" style="text-align: center;"><strong><!--[ pnml name='_PNFORUM_REPLIES' ]--></strong></td>
          <td width="15%"><strong><!--[ pnml name='_PNFORUM_AUTHOR' ]--></strong></td>
          <td width="20%"><strong><!--[ pnml name='_PNFORUM_POSTED' ]--></strong></td>
	</tr>
	<!--[ foreach item=post from=$posts ]-->
    <tr style="background: <!--[ $bgcolor1 ]-->;" onmouseover="this.style.backgroundColor='<!--[ $bgcolor3 ]-->'" onmouseout="this.style.backgroundColor='<!--[ $bgcolor1 ]-->'">
        <td width="50%">
            <a href="<!--[ $post.last_post_url_anchor ]-->" title="<!--[ $post.forum_name ]--> :: <!--[ $post.cat_title ]-->"><!--[ $post.topic_title|pnvarprepfordisplay ]--></a>
        </td>
        <td style="text-align: center;">
            <!--[ $post.topic_replies ]-->
        </td>
        <td>
            <!--[ $post.poster_name|profilelink ]-->
        </td>
        <td><!--[* %d.%m.%Y, %H:%M" *]-->
            <!--[ $post.posted_unixtime|pndate_format:"%d.%m.%Y, %H:%M" ]-->
        </td>
    </tr>
    <!--[ foreachelse ]-->
    <tr>
        <td colspan="4" style="text-align: center;">
            <strong><!--[ pnml name='_PNFORUM_NOPOSTS' ]--></strong>
        </td>
    </tr>
    <!--[ /foreach ]-->
</table>

<h2 style="text-align: center; margin-top: 1.5em;"><!--[ pnml name='_PNFORUM_RSS2FORUMPOSTS' ]--></h2>
<table border="0" cellpadding="3" cellspacing="1" width="100%">
	<tr style="background:#CF595B;  text-align: left;">
          <td width="50%"><strong><!--[ pnml name='_PNFORUM_TOPIC' ]--></strong></td>
          <td width="15%" style="text-align: center;"><strong><!--[ pnml name='_PNFORUM_REPLIES' ]--></strong></td>
          <td width="15%"><strong><!--[ pnml name='_PNFORUM_AUTHOR' ]--></strong></td>
          <td width="20%"><strong><!--[ pnml name='_PNFORUM_POSTED' ]--></strong></td>
	</tr>
	<!--[ foreach item=post from=$rssposts ]-->
    <tr style="background: <!--[ $bgcolor1 ]-->;" onmouseover="this.style.backgroundColor='<!--[ $bgcolor3 ]-->'" onmouseout="this.style.backgroundColor='<!--[ $bgcolor1 ]-->'">
        <td width="50%">
            <a href="<!--[ $post.last_post_url_anchor ]-->" title="<!--[ $post.forum_name ]--> :: <!--[ $post.cat_title ]-->"><!--[ $post.topic_title|pnvarprepfordisplay ]--></a>
        </td>
        <td style="text-align: center;">
            <!--[ $post.topic_replies ]-->
        </td>
        <td>
            <!--[ $post.poster_name|profilelink ]-->
        </td>
        <td>
            <!--[ $post.posted_unixtime|pndate_format:"%d.%m.%Y, %H:%M" ]-->
        </td>
    </tr>
    <!--[ foreachelse ]-->
    <tr>
        <td colspan="4" style="text-align: center;">
            <strong><!--[ pnml name='_PNFORUM_NOPOSTS' ]--></strong>
        </td>
    </tr>
    <!--[ /foreach ]-->
</table>

<h2 style="text-align: center; margin-top: 1.5em;"><!--[ pnml name='_PNFORUM_MAIL2FORUMPOSTS' ]--></h2>
<table border="0" cellpadding="3" cellspacing="1" width="100%">
	<tr style="background:#CF595B; text-align: left;">
          <td width="50%"><strong><!--[ pnml name='_PNFORUM_TOPIC' ]--></strong></td>
          <td width="15%" style="text-align: center;"><strong><!--[ pnml name='_PNFORUM_REPLIES' ]--></strong></td>
          <td width="15%"><strong><!--[ pnml name='_PNFORUM_AUTHOR' ]--></strong></td>
          <td width="20%"><strong><!--[ pnml name='_PNFORUM_POSTED' ]--></strong></td>
	</tr>
	<!--[ foreach item=post from=$m2fposts ]-->
    <tr style="background: <!--[ $bgcolor1 ]-->;" onmouseover="this.style.backgroundColor='<!--[ $bgcolor3 ]-->'" onmouseout="this.style.backgroundColor='<!--[ $bgcolor1 ]-->'">
        <td width="50%">
            <a href="<!--[ $post.last_post_url_anchor ]-->" title="<!--[ $post.forum_name ]--> :: <!--[ $post.cat_title ]-->"><!--[ $post.topic_title|pnvarprepfordisplay ]--></a>
        </td>
        <td style="text-align: center;">
            <!--[ $post.topic_replies ]-->
        </td>
        <td>
            <!--[ $post.poster_name|profilelink ]-->
        </td>
        <td>
            <!--[ $post.posted_unixtime|pndate_format:"%d.%m.%Y, %H:%M" ]-->
        </td>
    </tr>
    <!--[ foreachelse ]-->
    <tr>
        <td colspan="4" style="text-align: center;">
            <strong><!--[ pnml name='_PNFORUM_NOPOSTS' ]--></strong>
        </td>
    </tr>
    <!--[ /foreach ]-->
</table>

<!--[ include file='pnforum_user_footer.html' ]-->

<!--[* pndebug output=html *]-->
