
<body bgcolor="#FFFFFF" text="#000000" link="#3B88C5" vlink="#3279B2" alink="#FF9C00">
<a name="top"></a>
<table border="0" cellspacing="0" cellpadding="0" width="100%" height="100%">
<tr>
	<td width="10" class="border_left"><!--[ pnimg src="spacer.gif" width="10" height="1" border="0" alt="" ]--></td>
	<td width="100%" height="100%" class="content" align="center" valign="top">
	<div id="header-box">
		<div id="header-left"><a href="index.php?name=pnForum"><!--[ pnimg src="logo_left.gif" width="125" height="69" border="0" alt="" ]--></a></div>

 		<div id="header-right"><!--[ pnimg src="logo_right.gif" width="125" height="69" border="0" alt="" ]--></div>
		<div id="header-center">
			<b><!--[sitename]--></b><br />
			<!--[slogan]-->&nbsp;Forum
		</div>
	</div>
	<div id="navigation">
			<a title="<!--[ pnml name='_PNFORUM_SEARCH' ]-->" href="modules.php?op=modload&amp;name=Search&amp;file=index"><!--[ pnml name='_PNFORUM_SEARCH' ]--></a> | 
			<a title="<!--[ pnml name='_PNFORUM_LATEST' ]-->" href="<!--[ pnmodurl modname=pnForum type=user func=viewlatest ]-->"><!--[ pnml name='_PNFORUM_LATEST' ]--></a> | 
			<!--[ if $pncore.logged_in neq 1 ]-->
<a title="<!--[ pnml name='_PNFORUM_REGISTRATION_NOTE' ]-->" href="user.php"><!--[ pnml name='_PNFORUM_REGISTER' ]--></a>
	<!--[ else ]-->
		<a title="<!--[ pnml name='_PNFORUM_PERSONAL_SETTINGS' ]-->" href="<!--[ pnmodurl type="user" modname="pnForum" func="prefs" ]-->"><!--[ pnml name='_PNFORUM_PERSONAL_SETTINGS' ]--></a>
	<!--[ /if ]-->&nbsp; |<!--[ jumpbox ]--></div>
			
			
	
	
<div align="left">

</div><div id="content">