<!--[*  $Id: pnforum_user_viewtopic.html,v 1.78 2005/11/05 12:50:18 landseer Exp $  *]-->

<!--[ include file='pnforum_user_header.html' ]-->

<!--[ pnmodcallhooks hookobject=item hookaction=display hookid=$topic.topic_id implode=false ]-->

<!--[ pnimg src="icon_profile.gif" assign=profile alt='_PNFORUM_PROFILE' altml=true ]-->

<!--[* pndebug *]-->
<table width="100%" cellspacing="1" cellpadding="4" border="0" align="center" class="nav">
<tr>

<td class="nav" align="left" valign="middle" nowrap="nowrap"><span class="nav"><a href="<!--[ pnmodurl modname=pnForum type=user func=main ]-->"><!--[ pnml name='_PNFORUM_START' ]--></a>
<strong>&raquo;</strong>
<a href="<!--[ pnmodurl modname=pnForum type=user func=main viewcat=$topic.cat_id ]-->"><strong><!--[ $topic.cat_title ]--></strong></a><strong>&raquo;</strong>
<a href="<!--[ pnmodurl modname=pnForum type=user func=viewforum forum=$topic.forum_id]-->"><strong><!--[ $topic.forum_name ]--></strong></a><strong>&raquo;<a href="<!--[ pnmodurl modname=pnForum type=user func=viewtopic topic=$topic.topic_id]-->">
<!--[ $topic.topic_title]--></strong></a></span></td>
</tr>
</table>
<!--[ pnml name='_PNFORUM_MODERATEDBY' ]-->:
<!--[ listforummods moderators=$topic.forum_mods ]-->
<table width="100%" cellspacing="2" cellpadding="2" border="0">
  <tr> 
    <td align="left" valign="middle"><!--[ addtopic_button forum_id=$topic.forum_id cat_id=$topic.cat_id ]--></td>
	 <td align="right" valign="middle"><div class="pagination"></div></td>
  </tr>
</table>


<!-- BEGIN postrow -->
<!--[ counter start=0 print=false assign=post_counter]-->
<!--[ foreach key=num item=post from=$topic.posts ]-->
<!--[ counter ]-->

<table width="100%" class="hdr" cellspacing="0" cellpadding="0">
<tr>
<td align="left" width="35"><!--[ pnimg src="hdr_left_post.gif" width="35" height="25" border="0" alt="" ]-->
<td width="100%" align="left" nowrap="nowrap">
<!--[ $topic.topic_title|pnvarprepfordisplay|pnvarcensor ]-->
</td><td width="120" align="right"><!--[ pnimg src="/hdr_right_blue.gif" width="120" height="25" border="0" alt="" ]--></td></tr></table>
<!--[ if $post_counter == $post_count ]-->
<!--[ /if ]-->
<!--[ if $post.poster_data.pn_uid neq 1 ]-->
<table border="0" cellpadding="0" cellspacing="0" width="100%" class="post">
<tr>
<td width="150" class="row" align="center" valign="top" style="padding: 2px;" rowspan="2">     
<div style="padding: 3px;"><span class="name"> <strong><!--[ $post.poster_data.pn_uname|profilelink ]--></strong> 
<!--[ else ]-->
<strong><!--[ $post.poster_data.pn_uname ]--></strong>
<!--[ /if ]--></span><br /></div>
<div style="padding: 2px;"><span class="postdetails"> <!--[ if $post.poster_data.pn_uid neq 1 ]-->
                <!--[ if $post.poster_data.rank ]-->
                    <strong><!--[ $post.poster_data.rank|pnvarprepfordisplay ]--></strong>
                    <!--[ if $post.poster_data.rank_image ]-->
                        <br /><img src="<!--[ $post.poster_data.rank_image ]-->" alt="<!--[ $post.poster_data.rank ]-->" <!--[ $post.poster_data.rank_image_image_attr.3 ]--> />
                    <!--[ /if ]-->
                <!--[ /if ]--> </span><br /></div>
		<div style="width: 140px; margin: auto; overflow: hidden"> <!--[ if $post.poster_data.pn_user_avatar_attr.0 neq 1 ]-->
                <!--[ $post.poster_data.pn_uname|profilelink:'':$post.poster_data.pn_user_avatar ]-->
                <!--[ /if ]-->
                </div>
		<br />
		<table width="100%" cellspacing="5" cellpadding="0">
			<tr><td align="left"><span class="postdetails"> <strong><!--[ pnml name='_PNFORUM_REG_SINCE' ]-->:&nbsp;<!--[ $post.poster_data.pn_user_regdate|pndate_format:"%b. %Y"  ]--></span></td></tr> <!--[ /if ]-->
			<tr><td align="left"><span class="postdetails"> <!--[ pnml name='_PNFORUM_POSTS' ]-->:&nbsp;<!--[ $post.poster_data.user_posts ]--></span></td></tr>
			<tr><td align="left"><span class="postdetails"><!--[ pnml name='_PNFORUM_STATUS' ]-->:&nbsp;<!--[ if $post.poster_data.online  ]--><!--[ pnml name='_PNFORUM_ONLINE' ]--><!--[ else ]--><!--[ pnml name='_PNFORUM_OFFLINE' ]--><!--[ /if ]-->
                <br /><!--[ if !$post.poster_data.online  ]--><!--[ pnml name='_PNFORUM_LAST_SEEN' ]-->:&nbsp;<!--[ $post.poster_data.user_lastvisit|date_format:"%d.%m.%y"  ]--><!--[ /if ]-->
                <!--[ if $post.poster_data.pn_uid neq 1 ]-->
                    <!--[ if $post.poster_data.seeip eq true ]-->
                        <br /><a title="<!--[ pnml name='_PNFORUM_VIEWIP' ]-->" href="<!--[ pnmodurl modname=pnForum type=user func=topicadmin mode=viewip post=$post.post_id topic=$topic.topic_id ]-->"><!--[ pnml name='_PNFORUM_VIEWIP' ]--></a>
                  <!--[ /if ]-->
                <!--[ /if ]-->
               
                   
 
                </span></td></tr>
		</table>
		<!--[ pnimg src="spacer.gif" width="150" height="1" border="0" alt="" ]-->
	</td>
	<td width="1" class="postborder" rowspan="2"><!--[ pnimg src="spacer.gif" width="1" height="100" border="0" alt="" ]--></td>
	<td width="100%" class="row" align="left" valign="top"><table width="100%" cellspacing="0" cellpadding="0" border="0">
	<tr>
		<td width="50%" align="left" style="padding: 3px;"><span class="postdate"> <strong><!--[ pnml name='_PNFORUM_POSTED' ]-->:</strong>&nbsp;<!--[ $post.posted_unixtime|date_format:"%d.%m.%Y, %H:%M" ]--></span></td>
		<td width="50%"></td>
		<td width="23" valign="top" class="posttop" align="left"><!--[ pnimg src="posttop_left.gif" width="23" height="9" border="0" alt="" ]--></td>
		<td class="posttop" nowrap="nowrap" valign="top"> <!--[ if $topic.topic_status neq 1 ]-->
                    <!--[ if $post.poster_data.reply eq true]-->
                        <a title="<!--[ pnml name='_PNFORUM_REPLYQUOTE' ]-->" href="<!--[ pnmodurl modname=pnForum type=user func=reply post=$post.post_id ]-->"><!--[ pnimg src="icon_quote.gif" alt='_PNFORUM_REPLYQUOTE' altml=true ]--></a><!--[ /if ]-->
                    <!--[ if $post.poster_data.edit eq true]-->
                        <a title="<!--[ pnml name='_PNFORUM_EDITDELETE' ]-->" href="<!--[ pnmodurl modname=pnForum type=user func=editpost post=$post.post_id ]-->"><!--[ pnimg src="icon_edit.gif" alt='_PNFORUM_EDITDELETE' altml=true ]--></a>
                   <!--[ /if ]-->
                <!--[ else ]-->
                    <!--[ pnimg src=closedt.gif alt="_PNFORUM_TOPICLOCKED" altml=true ]-->
                <!--[ /if ]-->
               </td>
	</tr>
	<tr>
		<td width="50%" class="postline" height="1"><!--[ pnimg src="spacer.gif" width="100" height="1" border="0" alt="" ]--></td>
		<td colspan="3" height="1"><!--[ pnimg src="spacer.gif" width="1" height="1" border="0" alt="" ]--></td>
	</tr>
	</table>
	<div style="padding: 4px;" class="postbody"><!--[ $post.post_text ]--></div>
	</td>
</tr>
<tr>
	<td align="left" valign="bottom">
	<div style="padding: 5px;" class="postbody"><span class="signature"><span class="gensmall"></span></span></div>
	<table width="100%" height="9" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td class="postbottom" height="9" nowrap="nowrap"> <!--[ if $post.poster_data.pn_uid neq 1 ]-->
                    <!--[ $post.poster_data.pn_uname|profilelink:'':$profile ]-->
                    <!--[ pnmodgetinfo modname='Messages' info='type' assign=type]-->
                    <!--[ if $type eq 1 ]--> <a title="<!--[ pnml name='_PNFORUM_SEND_PM' ]-->" href="index.php?name=Messages&amp;file=replypmsg&amp;send=1&amp;uname=<!--[ $post.poster_data.pn_uname ]-->"><!--[ pnimg src="icon_pm.gif" alt='_PNFORUM_SEND_PM' altml=true ]--></a>
                    <!--[ else ]-->
                    <a title="<!--[ pnml name='_PNFORUM_SEND_PM' ]-->" href="<!--[ pnmodurl modname=Messages func=compose uname=$post.poster_data.pn_uname ]-->"><!--[ pnimg src="icon_pm.gif" alt='_PNFORUM_SEND_PM' altml=true ]--></a>
                    <!--[ /if ]-->
                    <!--[ if $post.poster_data.pn_url neq "" ]-->
                        <a title="<!--[ pnml name='_PNFORUM_HOMEPAGE' ]-->" href="<!--[ $post.poster_data.pn_url|pnvarprepfordisplay]-->"><!--[ pnimg src="icon_www.gif" alt='_PNFORUM_HOMEPAGE' altml=true ]--></a>
                    <!--[ /if ]-->
                <!--[ /if ]-->
				<a title="<!--[ pnml name='_PNFORUM_NOTIFYMODERATOR']-->"href="<!--[ pnmodurl modname=pnForum type=user func=report post=$post.post_id ]-->"><!--[ pnimg src="icon_mod.gif" alt='_PNFORUM_NOTIFYMODERATOR' altml=true ]--></a>
				</td>
		<td width="100%" height="9" align="left" valign="bottom"><!--[ pnimg src="postbottom_right.gif" width="22" height="9" alt="" ]--></td>
		</tr></table>
		</td></tr></table>

<table width="100%" cellspacing="0" cellpadding="0" border="0"><tr><td align="right" width="100%" height="15" valign="top"><a title="<!--[ pnml name='_PNFORUM_TOP' ]-->" href="#top"><!--[ pnimg src="ftr_right.gif" width="60" height="10" border="0" alt="" ]--></a></td></tr><!--[/foreach]--></table>
<!-- END postrow -->
<table width="100%" class="hdr" cellspacing="0" cellpadding="0"><tr><td align="left" width="35"><!--[ pnimg src="hdr_left_orange.gif" width="35" height="25" border="0" alt="" ]-->
</td>
<td width="100%" align="left" nowrap="nowrap">
<a href="<!--[ pnmodurl modname=pnForum type=user func=viewtopic topic=$topic.topic_id]-->"><!--[ $topic.topic_title]--></a></td>
<td width="120" align="right"><!--[ pnimg src="/hdr_right_blue.gif" width="120" height="25" border="0" alt="" ]--></td></tr></table>
<table class="forumline" width="100%" cellspacing="1" cellpadding="3" border="0">
<tr>
	<td class="row" align="left" valign="top">
	<table border="0" cellspacing="0" cellpadding="5" width="100%">
	<tr>
		<td align="left" valign="top">
			<span class="gensmall"><div style="text-align: left;">
<!--[ if $topic.access_moderate eq 1 ]-->
    <p>
    <!--[ if $topic.topic_status eq 0 ]-->
        <a title="<!--[ pnml name='_PNFORUM_LOCKTOPIC' ]-->" href="<!--[ pnmodurl modname=pnForum type=user func=topicadmin mode=lock topic=$topic.topic_id ]-->"><!--[ pnimg src="topic_lock.gif" alt="_PNFORUM_LOCKTOPIC" altml=true ]--></a>
    <!--[ else ]-->
        <a title="<!--[ pnml name='_PNFORUM_UNLOCKTOPIC' ]-->" href="<!--[ pnmodurl modname=pnForum type=user func=topicadmin mode=unlock topic=$topic.topic_id ]-->"><!--[ pnimg src="topic_unlock.gif" alt="_PNFORUM_UNLOCKTOPIC" altml=true ]--></a>
    <!--[ /if ]-->
    <!--[ if $topic.sticky eq 0 ]-->
        <a title="<!--[ pnml name='_PNFORUM_STICKYTOPIC' ]-->" href="<!--[ pnmodurl modname=pnForum type=user func=topicadmin mode=sticky topic=$topic.topic_id ]-->"><!--[ pnimg src="make_sticky.gif" alt="_PNFORUM_STICKYTOPIC" altml=true ]--></a>
    <!--[ else ]-->
        <a title="<!--[ pnml name='_PNFORUM_UNSTICKYTOPIC' ]-->" href="<!--[ pnmodurl modname=pnForum type=user func=topicadmin mode=unsticky topic=$topic.topic_id ]-->"><!--[ pnimg src="make_unsticky.gif" alt="_PNFORUM_UNSTICKYTOPIC" altml=true ]--></a>
    <!--[ /if ]-->
    <a title="<!--[ pnml name='_PNFORUM_MOVETOPIC' ]-->" href="<!--[ pnmodurl modname=pnForum type=user func=topicadmin mode=move topic=$topic.topic_id ]-->"><!--[ pnimg src="topic_move.gif" alt="_PNFORUM_MOVETOPIC" altml=true ]--></a>
    <a title="<!--[ pnml name='_PNFORUM_DELETETOPIC' ]-->" href="<!--[ pnmodurl modname=pnForum type=user func=topicadmin mode=delete topic=$topic.topic_id ]-->"><!--[ pnimg src="topic_delete.gif" alt="_PNFORUM_DELETETOPIC" altml=true ]--></a>
</p>
<!--[ /if ]-->
<br />
<p>
<a title="<!--[ pnml name='_PNFORUM_PREVIOUS_TOPIC' ]-->" href="<!--[ pnmodurl modname=pnForum type=user func=viewtopic topic=$topic.prev_topic_id ]-->"><!--[ pnimg src="prev.gif" alt="_PNFORUM_PREVIOUS_TOPIC" altml=true ]--></a>
<!--[ addtopic_button forum_id=$topic.forum_id cat_id=$topic.cat_id ]-->
<!--[ mailtopic_button topic_id=$topic.topic_id cat_id=$topic.cat_id forum_id=$topic.forum_id ]-->
<!--[ printtopic_button topic_id=$topic.topic_id cat_id=$topic.cat_id forum_id=$topic.forum_id ]-->
<!--[ subscribetopic_button topic_id=$topic.topic_id cat_id=$topic.cat_id forum_id=$topic.forum_id ]-->
<!--[ if $topic.topic_id neq $topic.next_topic_id ]-->
<a title="<!--[ pnml name='_PNFORUM_NEXT_TOPIC' ]-->" href="<!--[ pnmodurl modname=pnForum type=user func=viewtopic topic=$topic.next_topic_id ]-->"><!--[ pnimg src="next.gif" alt="_PNFORUM_NEXT_TOPIC" altml=true ]--></a>
<!--[ /if ]-->
</p>

</div>
</span>
		</td>
		<td align="right" valign="top">
			<span class="gensmall">&nbsp;&nbsp;<br />
			&nbsp;&nbsp;<!--[ topicpager total=$topic.total_posts start=$topic.post_start topic_id=$topic.topic_id ]--></span>
			
		</td>
	</tr>
	</table>
	</td>
</tr>
<tr>
	<td class="catBottom" align="center" valign="middle" nowrap="nowrap"><table border="0" cellspacing="0" cellpadding="2" width="100%">
	<tr>
		<td align="right" valign="middle" nowrap="nowrap"><!--[jumpbox]--></td>
	</tr>
	</table>
	</td>
</tr>
</table>
<table width="100%" cellspacing="0" cellpadding="0" border="0"><tr><td align="right" width="100%" height="15" valign="top"><a title="<!--[ pnml name='_PNFORUM_TOP' ]-->" href="#top"><!--[ pnimg src="/ftr_right.gif" width="60" height="10" border="0" alt="" ]--></a>&nbsp;</td></tr></table>
<table width="100%" cellspacing="1" cellpadding="4" border="0" align="center" class="nav">
<tr>
	<td class="nav" align="left" valign="middle" nowrap="nowrap"><span class="nav">
<td class="nav navform" align="left" valign="middle" nowrap="nowrap"><span class="nav">
<!--[* start of breadcrumbs *]-->
<a href="<!--[ pnmodurl modname=pnForum type=user func=main ]-->"><strong><!--[ pnml name='_PNFORUM_START' ]--></strong></a><strong> &raquo;</strong>
<a href="<!--[ pnmodurl modname=pnForum type=user func=main viewcat=$topic.cat_id ]-->"><strong><!--[ $topic.cat_title ]--></strong></a><strong> &raquo;</strong>
<a href="<!--[ pnmodurl modname=pnForum type=user func=viewforum forum=$topic.forum_id]-->"><strong><!--[ $topic.forum_name ]--></strong></a><strong> &raquo;
<!--[ $topic.topic_title|pnvarprepfordisplay|pnvarcensor ]--></strong>
<!--[* end of breadcrumbs *]-->

</span></td>
	
</tr>
</table>
<!--[ pnml name='_PNFORUM_MODERATEDBY' ]-->:
<!--[ listforummods moderators=$topic.forum_mods ]-->
<br />

<!-- BEGIN xs_quick_reply -->
<!--[ topicpager total=$topic.total_posts start=$topic.post_start topic_id=$topic.topic_id ]-->
<br />
<!--[ pnupper_fileuploads objectid=$topic.topic_id ]-->
<br />
<!--[ if ($topic.topic_status neq 1) and ($topic.access_comment eq true) ]-->
    
    <form name="post" id="post" action="<!--[ pnmodurl modname=pnForum type=user func=reply ]-->" method="post" enctype="multipart/form-data">
    <table class="pnForum-border" border="0" cellpadding="5" cellspacing="0" width="100%" summary="<!--[ pnml name='_PNFORUM_QUICKREPLY' ]-->">
        <tr style="width:100%;">
            <td colspan="2"><strong><!--[ pnml name='_PNFORUM_OPTIONS' ]--></strong></td>
            <td style="width:70%;"><strong><!--[ pnml name='_PNFORUM_ONEREPLY' ]--></strong></td>
        </tr>
        <tr style="width:100%;">
            <td colspan="2">
                <table border="0" cellpadding="1" cellspacing="0">
                    <!--[ if $pncore.logged_in ]-->
                    <tr style="width:100%;">
                        <td style="width:5%;"><input type="checkbox" id="attach_signature" name="attach_signature" checked="checked" value="1" /></td>
                        <td style="text-align:left;"><label for="attach_signature"><!--[ pnml name='_PNFORUM_ATTACHSIGNATURE' ]--></label></td>
                    </tr>
                    <tr style="width:100%;">
                        <td style="width:5%;"><input type="checkbox" id="subscribe_topic" name="subscribe_topic" <!--[ if $topic.is_subscribed eq true ]-->checked="checked"<!--[ /if ]--> value="1" /></td>
                        <td style="text-align:left;"><label for="subscribe_topic"><!--[ pnml name='_PNFORUM_NOTIFYME' ]--></label></td>
                    </tr>
                    <!--[ /if ]-->
                    <tr style="width:100%;">
                        <td style="width:5%;"><input type="checkbox" name="preview" id="preview" tabindex="0" /></td>
                        <td style="text-align:left;"><label for="preview"><!--[ pnml name='_PNFORUM_PREVIEW' ]--></label></td>
                    </tr>
                </table>
            </td>
            <td>
                <textarea name="message" rows="5" cols="50" id="message"></textarea>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="vertical-align:top; text-align:center;">
                <br /><br /><br />
                <input type="hidden" name="forum" value="<!--[ $topic.forum_id ]-->" />
                <input type="hidden" name="topic" value="<!--[ $topic.topic_id ]-->" />
                <input type="hidden" name="quote" value="" />
                <input type="hidden" name="authid" value="<!--[ pnsecgenauthkey module=pnForum ]-->" />

                <button name="submit" type="submit" value="submit" style="border: none; background: transparent;" title="<!--[ pnml name='_PNFORUM_SUBMIT' ]-->">
                <!--[ pnimg src="ok.gif" alt="_PNFORUM_SUBMIT" altml=true ]-->
                </button>
                <br /><br /><br />
                <button name="reset" type="button" value="reset" style="border: none; background: transparent;" title="<!--[ pnml name='_PNFORUM_CANCELPOST' ]-->" onclick="self.location.href='<!--[ pnmodurl modname=pnForum type=user func=viewtopic topic=$topic.topic_id ]-->'">
                <!--[ pnimg src="cancel.gif" alt="_PNFORUM_CANCELPOST" altml=true ]-->
                </button>

                <!--[*
                HTML for Typetool - not supported!!!
                    <input name="submit" type="submit" value=" <!--[ pnml name='_PNFORUM_SUBMIT' ]--> " />
                    <br /><br /><br />
                    <input name="cancel" type="submit" value=" <!--[ pnml name='_PNFORUM_CANCELPOST' ]--> " />
                *]-->

            </td>
            <td>
                <!--[ if $pncore.pnForum.striptags == 'yes' ]-->
                    <!--[ pnml name='_PNFORUM_NOHTMLALLOWED' ]--><br />
                    <br />
                <!--[ /if ]-->
                <!--[ plainbbcode textfieldid=message ]-->
                <!--[ bbsmile textfieldid=message ]-->
                <!--[ $hooks.pnUpper ]--><br />
            </td>
        </tr>
    </table>
    </form>

   
<!--[ /if ]-->
<div style="text-align:center;">
<!--[ $hooks.Ratings ]-->
</div>
<!--[ include file='pnforum_user_footer.html' ]-->

<!-- END xs_quick_reply -->
