<!--[*  $Id: pnforum_user_main2.html,v 1.1 2005/11/09 08:51:48 landseer Exp $  *]-->

<!--[ include file=pnforum_user_header.html ]-->



<div style="margin: 2em 0 2em 0;">

<!--[ if $view_category == -1 ]-->
    <ul class="pnf_maincategorylist">
        <!--[ foreach item=category from=$tree ]-->
        <li class="<!--[ if $category.new_posts == true ]-->newposts<!--[ else ]-->nonewposts<!--[ /if ]-->">
            <a title="<!--[ pnml name='_PNFORUM_GOTO_CAT' ]--> '<!--[ $category.cat_title ]-->'" href="<!--[ pnmodurl modname=pnForum type=user func=main viewcat=$category.cat_id  ]-->"><strong><!--[ $category.cat_title ]--></strong></a>&nbsp;<!--[ adminlink type=category id=$category.cat_id ]-->
            <br />
            <!--[ pnml name='_PNFORUM_LASTPOSTINGBY' ]-->&nbsp;<!--[ $category.last_post.name|profilelink ]-->&nbsp;<!--[ pnml name='_PNFORUM_WRITTENON' ]-->&nbsp;<!--[ $category.last_post.unixtime|pndate_format ]-->:<br />
            <a href="<!--[ $category.last_post.url_anchor ]-->" title="<!--[ pnml name='_PNFORUM_GOTO_LATEST' ]--> '<!--[ $category.last_post.subject|pnvarprephtmldisplay ]-->'"><!--[ $category.last_post.subject|pnvarprepfordisplay ]--></a>
        </li>
        <!--[ /foreach ]-->
    </ul>
<!--[ else ]-->
    <a href="<!--[ pnmodurl modname=pnForum type=user func=main ]-->" title="<!--[ pnml name='_PNFORUM_START' ]-->"><strong><!--[ pnml name='_PNFORUM_START' ]--></strong></a>&nbsp;::&nbsp;<strong><!--[ $view_category_data.cat_title ]--></strong>
    <br /><br />
    <ul class="pnf_mainforumlist">
        <!--[ foreach item=forum from=$view_category_data.forums ]-->
        <li class="<!--[ if $forum.new_posts == true ]-->newposts<!--[ else ]-->nonewposts<!--[ /if ]-->">
            <a title="<!--[ pnml name='_PNFORUM_GOTO_FORUM' ]--> '<!--[ $forum.forum_name ]-->'" href="<!--[ pnmodurl modname=pnForum type=user func=viewforum forum=$forum.forum_id  ]-->"><strong><!--[ $forum.forum_name ]--></strong></a>&nbsp;<!--[ adminlink type=forum id=$forum.forum_id ]-->
            <br />
            <!--[ pnml name='_PNFORUM_LASTPOSTINGBY' ]-->&nbsp;<!--[ $forum.last_post_data.name|profilelink ]-->&nbsp;<!--[ pnml name='_PNFORUM_WRITTENON' ]-->&nbsp;<!--[ $forum.last_post_data.unixtime|pndate_format ]-->:<br />
            <a href="<!--[ $forum.last_post_data.url_anchor ]-->" title="<!--[ pnml name='_PNFORUM_GOTO_LATEST' ]--> '<!--[ $forum.last_post_data.subject|pnvarprephtmldisplay ]-->'"><!--[ $forum.last_post_data.subject|pnvarprepfordisplay ]--></a>
        </li>
        <!--[ /foreach ]-->
    </ul>

<!--[ /if ]-->
</div>
<!--[ pnimg src="folder_new.gif" alt="_PNFORUM_NEWPOSTS" altml=true ]--> = <!--[ pnml name='_PNFORUM_NEWPOSTS' ]--> (<!--[ $last_visit_unix|pndate_format:"%e. %b %Y  - %R" ]-->)<br />
<!--[ pnimg src="folder.gif" alt="_PNFORUM_NONEWPOSTS" altml=true ]--> = <!--[ pnml name='_PNFORUM_NONEWPOSTS' ]-->

<!--[ include file='pnforum_user_footer.html ]-->

<!--[* pndebug *]-->
