{#

This is an example how to add custom template for search fields

{% block _zikulasearchmodule_search_modules_ZikulaDizkusModule_widget %}
    {% spaceless %}
        {% for child in form %}
            <div class="col-md-6">
                {{ form_widget(child) }}
            </div>
        {% endfor %}
    {% endspaceless %}
{% endblock %}
#}
