<div class="dizkus-bbcode">
    <div class="btn-group btn-group-xs" role="group" aria-label="...">
        <button type="button" class="btn btn-default">
            <i class="fa fa-bold" aria-hidden="true"></i>
        </button>
        <button type="button" class="btn btn-default">
            <i class="fa fa-italic" aria-hidden="true"></i>
        </button>
        <button type="button" class="btn btn-default">
            <i class="fa fa-link" aria-hidden="true"></i>
        </button>
        <button type="button" class="btn btn-default">
            <i class="fa fa-quote-right" aria-hidden="true"></i>
        </button>
        <button type="button" class="btn btn-default">
            <i class="fa fa-code" aria-hidden="true"></i>
        </button>
    </div>
</div>
