<fieldset>
    <legend>{{ __("Dizkus") }}</legend>
    <div class="alert alert-danger">
        {#        {{ __("WARNING: The discussion topic in the <em>%s</em> forum will be <strong>%s</strong> for this item.", {tag1=$forum tag2=$actionWord) }}#}
    </div>
</fieldset>



