/*
  Morpheus Theme for phpBB version 2.0.x
  Created by Vjacheslav Trushkin
  http://www.phpbbstyles.com
*/

@import url(style_main.css);

body { 
	background-color: #FFF; 
	scrollbar-arrow-color: #C23E3F;
	scrollbar-face-color: #FFFFFF; 
	scrollbar-track-color: #E0E0E0; 
	scrollbar-highlight-color: #FFFFFF; 
	scrollbar-3dlight-color: #C0C0C0; 
	scrollbar-shadow-color: #FFFFFF; 
	scrollbar-darkshadow-color: #B0B0B0;
}

hr { 
	border-color: #C33B3D;
}

/* links */
a { 
	color: #C23E3F; 
}
a:visited { 
	color: #AF3535;
}
a:hover, a:active { 
	color: #FF9C00; 
}

/* header */
#header-box { 
	background-image: url(images/red/logo_bg.gif); 
}
/* header login form */
#header-login {
	background: url(images/red/logo_right.gif) top right no-repeat;
}
.login-input, .login-submit {
	background-color: transparent;
	border-color: #A83334;
	color: #7B2425;
}
.login-submit {
	background-color: #D56768;
}
.login-input:hover, .login-submit:hover {
	background-color: #D56768;
	border-color: #7C2627;
}
.login-input:focus, .login-submit:focus {
	background-color: #DD7677;
	color: #000;
}
* html .login-input { 
	background-color: transparent; 
	border-color: #7C2627;
	color: #000;
}
* html .login-submit { 
	background-color: #D56768;
	border-color: #7C2627;
	color: #000;
}

#navigation { 
	background-image: url(images/red/logo_bg2.gif); 
}

/* table headers */
table.hdr { 
	background-image: url(images/red/hdr_bg.gif); 
	color: #C03C3D; 
}
table.hdr a, table.hdr a:visited { 
	color: #C03C3D; 
}
table.hdr a:hover, table.hdr a:active { 
	color: #FF9C00; 
}

td.postline { 
	background-color: #C33B3D; 
}

/* rows */
td.row, .row1, .row2, .row3 { 
	background-color: #FFF;
}

/* th */
th, td.th { 
	color: #F5F6F6; 
	background: #F2F1F1 url(images/red/bg_th.gif) top left repeat-x; 
	border-color: #E1595B; 
}

/* bottom row */
td.catBottom { 
	background: #C35556 url(images/red/bg_cat.gif) top left repeat-x;
}

.nav { color: #FF9C00;}
.nav a, .nav a:visited { color: #C23E3F; }
.nav a:hover, .nav a:active { color: #FF9C00; }

table.nav { border-color: #D95153; }

a.forumlink_new, a.forumlink_new:visited { color: #F2A62E; }

.moderators a:hover, .moderators a:active { color: #FF9C00; } 

input.post, textarea.post, select, input.button, input.mainoption, input.liteoption { border-color: #9A2E2F; }

select optgroup { background-color: #C9C3C4; }

a.topiclink_new, a.topiclink_new:visited { color: #FF9C00; }

.pagination a, .pagination a:visited { border-color: #DAD4D4; background-color: #EBEBEA; }
.pagination a:hover, .pagination a:active { border-color: #EFEBEA; }

.gotopage a, .gotopage a:visited { border-color: #DFDBDA; background-color: #EEE9EA; }
.gotopage a:hover, .gotopage a:active { border-color: #E9E5E6; }

td.spacerow { background-image: url(images/red/bg_th.gif); }

