{% if forum.moderatorUsers|length > 0 or forum.moderatorGroups|length > 0 %}
    <div id='dzk_moderatedby' class="{% if panel is defined and panel %}list-group-item list-group-item-warning noborder{% endif %} text-muted{% if well is defined and well %} well well-sm{% endif %}">
        <em>{{ __("Moderated by") }}:</em>
    {% endif %}
    {# @todo |profilelinkbyuname      #}
    {% if forum.moderatorUsers|length > 0 %}
        <span>
            {% for modid, mod in forum.moderatorUsers %}
                {{ mod.forumUser.user.uname}}{% if not loop.last %}, {% endif %}{% if loop.last and forum.moderatorGroups|length > 0 %}, {% endif %}
            {% endfor %}
        </span>
    {% endif %}

    {% if forum.moderatorGroups|length > 0 %}
        <span>
            {% for id, group in forum.moderatorGroups %}
                {{ group.group.name }} ({{ __('Group') }}){% if not loop.last %}, {% endif %}
            {% endfor %}
        </span>
    {% endif %}
    {% if forum.moderatorUsers|length > 0 or forum.moderatorGroups|length > 0 %}
    </div>
{% endif %}
