<div class="panel-footer clearfix">
    <div class="pull-left">
        {{ render(controller(
        'ZikulaDizkusModule:Users:getOnlineUsers'
    )) }}
    </div>
    <div id='forum-legend' class="pull-right">
        <i class="fa fa-commenting fa-flip-horizontal fa-orange fa-2x"></i>
        {{ __f('New posts since your last visit %s', {'%s': currentForumUser.getLastVisit()|date('Y-m-d H:i:s')}) }}
    </div>
</div>