/*  $Id$  */

/*
 * general settings
 */
button, button.right, button.left {
    border: none;
    background: transparent;
    margin: 0 0.5em 0 0.5em;
    padding: 0;
    border-bottom: 1px dashed black;
    cursor: pointer;
}

button.right {
    float:right; 
    margin: 1em 2em 1em 0;
}

button.left {
    float: left; 
    margin: 1em 0 1em 2em;
}

.shown {
    display: inline;
}

.hidden {
    display: none;
}

.visible {
    visibility: visible;
}

.invisible {
    visibility: hidden;
}

.category {
    /* */
}

.forum {
    /* */
}

/*
 * obsolete pnForum-title and pnForum-border;
 */    
.pnForum-title {
    font-size: 12px;
}

.pnForum-border {
    border-collapse: collapse;

}

a.pnForum_links {
    background: red;
    border: 1px solid blue;
    color: yellow;
}

div.pnfadminrow98 {
    /* clear: both; */
    width: 98%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

div.pnfadmincol66,  div.pnfadmincol49,  div.pnfadmincol33,  div.pnfadmincol24,  div.pnfadmincol22,  div.pnfadmincol16,  div.pnfadmincol12,
div.pnfadmincol66c, div.pnfadmincol49c, div.pnfadmincol33c, div.pnfadmincol24c, div.pnfadmincol22c, div.pnfadmincol16c, div.pnfadmincol12c {
    float: left;
}

div.pnfadmincol66, div.pnfadmincol49, div.pnfadmincol33, div.pnfadmincol24, div.pnfadmincol22, div.pnfadmincol16, div.pnfadmincol12 {
    text-align: left;
}

div.pnfadmincol66c, div.pnfadmincol49c, div.pnfadmincol33c, div.pnfadmincol24c, div.pnfadmincol22c, div.pnfadmincol16c, div.pnfadmincol12c {
    text-align: center;
 }

div.pnfadmincol66, div.pnfadmincol66c {
    width: 66%;
}

div.pnfadmincol49, div.pnfadmincol49c {
    width: 49%;
}

div.pnfadmincol33, div.pnfadmincol33c {
    width: 33%;
}

div.pnfadmincol24, div.pnfadmincol24c {
    width: 24%;
}

div.pnfadmincol22, div.pnfadmincol22c {
    width: 22%;
}

div.pnfadmincol16, div.pnfadmincol16c {
    width: 16%;
}

div.pnfadmincol12, div.pnfadmincol12c {
    width: 12%;
}

div.pnfadminclear {
    clear: both;
}

dt.pnfadmin {
    clear: both;
    width: 40%;
    float: left;
    padding-top: 1em;
    padding-bottom: 1em;
}

dd.pnfadmin {
    width: 40%;
    float: left;
    padding-top: 1em;
    padding-bottom: 1em;
}

.pnfuserrow98 {
    clear: both;
    width: 98%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.pnfusercol25 {
    width: 25%;
    float: left;
}

.pnfusercol49 {
    width: 49%;
    float: left;
}

.pnfusercol66 {
    width: 66%;
    float: left;
}

.pnfusercol33 {
    width: 33%;
    float: left;
}

.pnfusercol60 {
    width: 60%;
    float: left;
}

.pnfusercol30 {
    width: 30%;
    float: left;
}

.pnfusercol75 {
    width: 75%;
    float: left;
}

.pnfusercol37 {
    width: 37%;
    float: left;
}

#pnforum_admin fieldset {
    width: 99%;
    padding: 0;
    margin: 0;
    border-style: solid;
    border-width: 2px;
}

#pnforum_admin legend {
    font-size: 110%;
    font-weight: bold;
    margin-bottom: 1em;
}

#pnforum fieldset {
    width: 99%;
    padding: 0;
    margin: 0;
    border-style: solid;
    border-width: 2px;
}

#pnforum .moddiv {
    text-align: center;
    padding: 1em;
}

.displayhook {
    clear: both;
    padding: 5px;
    text-align: center;
}

.post-header-row, .post-bottom-row {
    /* clear: both; */
    width: 98%;
    border: 1px solid red;
}
.post-header-left {
    /* clear: both; */
    width: 24%;
    float: left;
    height: 2em;
    text-align: left;
    margin-left: 3px;
    margin-top: 0.5em;
}

.post-header-right {
    width: 74%;
    float: left;
    height: 2em;
    text-align: right;
    margin-right: 5px;
    margin-top: 0.5em;
}

.post-title-row {
    width: 98%;
}

.post-title-left {
    width: 24%;
    float: left;
    text-align: left;
    margin-left: 3px;
}

.post-title-right {
    width: 74%;
    float: left;
    text-align: left;
    margin-left: 3px;
    font-size: 2em;
    font-weight: bold;
}

.post-content-row {
    /* clear: both; */
    width: 98%;
}

.post-userinfo {
    /* clear: both; */
    width: 24%;
    float: left;
    margin: 3px;
    text-align: left;
    overflow: visible;
}

.post-text {
    width: 74%;
    float: left;
    text-align: left;
    margin: 3px;
    overflow: visible;
}

.post-bottom-left {
    /* clear: both; */
    width: 24%;
    float: left;
    text-align: left;
    margin-left: 3px;
}

.post-bottom-right {
    width: 74%;
    float: left;
    text-align: left;
    margin-left: 3px;
}

.post-bottom2 {
    /* clear: both; */
    width: 98%;
    float: left;
    text-align: right;
    margin-right: 3px;
}

.post-bottom-userinfo {
    width: 49%;
    text-align: left;
    float: left;
    margin-left: 5px;
}

.post-bottom-useroptions {
    width: 49%;
    text-align: right;
    float: right;
    margin-right: 5px;
}

.quickreply-options, .quickreply-options-header {
    /* clear: both; */
    width: 30%;
    float: left;
    text-align: left;
}

.quickreply-text, .quickreply-text-header {
    width: 66%;
    float: left;
}

.newtopic-options, .newtopic-options-header {
    /* clear: both; */
    width: 30%;
    float: left;
    text-align: left;
}

.newtopic-text, .newtopic-text-header {
    width: 66%;
    float: left;
}

ul.searchresultlist {
    list-style-type: none;
}

li.searchresult {
    border: 1px solid black;
    margin: 5px;
    padding: 3px;
}

/********************************
pnforum_user_main.html
********************************/

div#pnf_main {
    margin: 2em 0;
}

div#pnf_main h1 {
    text-align: center;
    margin-bottom: 1em;
}

ul#pnf_maincategorylist {
    padding: 0;
    margin: 0;
    list-style: none;
}

ul#pnf_maincategorylist li {
    padding: 0 0 0.5em 0;
    margin: 0;
    padding-left: 3em;
    background-repeat: no-repeat;
    background-position: 0 1em;
    border-top: 1px #666 dashed;
}

ul#pnf_maincategorylist li.newposts {
    background-image: url(../pnimages/red_folder.gif);
}

ul#pnf_maincategorylist li.nonewposts {
    background-image: url(../pnimages/folder.gif);
}

ul#pnf_maincategorylist .openclosecategory{
    /* dont delete this */
}

ul#pnf_maincategorylist p.catlastpostinfo {
    font-size: 80%;
}

ul.pnf_mainforumlist {
    padding: 0 0 0 1.5em;
    margin: 0;
    list-style: none;
}

ul.pnf_mainforumlist li {
    margin: 0;
    padding: 0 0 0.5em 3em;
    background-repeat: no-repeat;
    background-position: 0 2em;
    border-top: 1px #666 dashed;
}

ul.pnf_mainforumlist li.newposts {
    background-image: url(../pnimages/red_folder.gif);
}

ul.pnf_mainforumlist li.nonewposts {
    background-image: url(../pnimages/folder.gif);
}

ul.pnf_mainforumlist li p.forumlastpostinfo {
    font-size: 0.8em; 
    margin-left: 0.3em;
}

ul.pnf_forumlist {
    padding: 0 0 0 0.8em;
    margin: 0 0 0 0.8em;
    list-style-position: outside;
    list-style-image: url('../pnimages/arrow.gif');
}

ul.pnf_forumlist li {
    padding: 0;
    margin: 0;
}

ul#pnf_forumlegend {
    padding: 0; 
    margin: 2em 0 1em 0;
    list-style-type: none;
    font-size: 90%
    color: black;
}

/*****************************
 pnforum_user_viewforum.html
*****************************/

div#pnf_viewforum {
    margin: 2em 0;
}

div#pnf_breadcrumbs, div#pnf_moderatorlist {
    margin-bottom: 1em;
}

div#pnf_breadcrumbs ul, div#pnf_moderatorlist ul {
    float: left;
}

div#pnf_breadcrumbs li {
    font-size: 140%;
    font-weight: bold;
    float: left;
}

div#pnf_moderatorlist li {
    float: left;
}

div#pnf_moderatorlist li span {
    margin-right: 1em;
}

div#pnf_forumdescription {
    padding: 1em;
}

table#pnf_topiclist {
    width: 99%;
}

table#pnf_topiclist tr.subheader td {
    font-weight: bold;
    text-align: center;
    border-width: 2px; 
    border-style: solid;
    border-top: none; 
}

table#pnf_topiclist col#col_status {
    width: 10%;
}
table#pnf_topiclist col#col_topic {
    text-align:left;
    width: 46%;
}
table#pnf_topiclist col#col_replies {
    width: 8%;
}
table#pnf_topiclist col#col_poster {
    width: 10%;
}
table#pnf_topiclist col#col_view {
    width: 6%;
}
table#pnf_topiclist col#col_lastpost {
    width: 20%;
}

table#pnf_topiclist tr.topicrow td {
    border-bottom-width: 2px;
    border-bottom-style: solid;   
    vertical-align: middle;                 
}                                  

p.pnf_notopics {
    padding: 1em;
    text-align: center;
    font-weight: bold;
    font-size: 110%;
}

.pnf_postlist {
    padding: 0 0 0 0.8em;
    margin: 0 0 0 0.8em;
    list-style-position: outside;
    list-style-image: url('../pnimages/arrow.gif');
}

ul.pnf_postlist li {
    padding: 0;
    margin: 0;
}

.pnf_posterlist {
    padding: 0 0 0 0.8em;
    margin: 0 0 0 0.8em;
    list-style-position: outside;
    list-style-image: url('../pnimages/arrow.gif');
}

ul.pnf_posterlist li {
    padding: 0;
    margin: 0;
}

.pnf_statslist {
    padding: 0 0 0 0.8em;
    margin: 0 0 0 0.8em;
    list-style-position: outside;
    list-style-image: url('../pnimages/arrow.gif');
}

ul.pnf_statslist li {
    padding: 0;
    margin: 0;
}

div.pnf_statusmsg {
    margin: 5px 0 5px 0;
    padding: 5px 0 5px 0;
    text-align:center;
    width:99%;
    border: 1px solid red;
    font-size: 1.2em;
    font-weight: bold;
}

.pnfadminuser {
    color: red;
}
.pnfnoadminuser {
    color: green;
}

.pnf_invisible {
    position:absolute;
    left:-1000px;
    top:-1000px;
    width:0;
    height:0;
    overflow:hidden;
    display:inline;
}

/*
 * main pnforum div
 */
#pnforum {
    font-size: small;
    width: 99%;
}

#pnforum h1, h2, h3, h4, h5, h6 {
    color: #000;
}

#pnforum ul {
    margin: 0;
    padding: 0;
    list-style-type: none
}

#pnforum li {
    margin: 0;
    padding: 0;
}

#pnforum table {
    width: 99%;
}

#pnforum table caption {
    text-align: center; 
    margin: 1.5em 0 0.25em 0; 
    border-style: solid;
    border-width: 2px;
    padding: 4px 0;
    font-size: 150%;
    font-weight: bold;
}

#pnforum th {
    font-size: 1em;
    font-weight: bold;
    text-align: center;
}

#pnforum th.leftcell {
    border-width: 2px;
    border-style: solid;
    border-right: none;
}

#pnforum th.midcell {
    border-width: 2px;
    border-style: solid;
    border-right: none;
    border-left: none;
}

#pnforum th.rightcell {
    border-width: 2px;
    border-style: solid;
    border-left: none;
}

#pnforum .optionrow {
    padding: 3px;
    border-style: solid; 
    border-width: 2px;
    text-align:left; 
    font-size: 1em;
    margin: 1em 0 1em 0;
    line-height: 2em;
}

#pnforum .headerlink {
    margin: 0 0.5em 0 0.5em;
}

#pnforum_admin ul {
    margin: 0;
    padding: 0;
    list-style-type: none
}

#pnforum_admin li {
    margin: 0;
    padding: 0;
}

#pnforum_admin h1 {
    font-size: 2em;
    margin: 0.5em 0 0.5em 0;
}

#pnforum_admin h2 {
    font-size: 1.5em;
    margin: 0.5em 0 0.5em 0;
}

#pnforum dt.prefs {
    width: 50%;
    text-align: left;
    float: left;
    padding: 0.5em 0 0.5em 0;
}

#pnforum dd.prefs {
    width: 40%;
    text-align: left;
    float: left;
    padding: 0.5em 0 0.5em 0;
}

/*************************
 * pnforum_user_prefs.html
 *************************/
#userprefs {
    float: left; 
    margin-top: 1em;
}

#userprefs .thd50 {
    width:50%; 
    height:2.2em;
    vertical-align: middle;
    padding: 0.2em;
    border: none;
}

#userprefs .thd25 {
    width:25%; 
    height:2.2em;
    text-align: center;
    vertical-align: middle;
    padding: 0.2em;
    border: none;
}

#userprefs tr {
   vertical-align: middle;
   text-align:left;
}

/*******************************
 * pnforum_user_footer.html
 *******************************/

#pnf_footer {
    float: left; 
    margin-top: 1em; 
    width: 100%; 
    padding: 0;
    border-width: 2px;
    border-style: solid; 
}

#pnf_footer p.onlinetop {
    margin: 0;
    line-height: 1.4em; 
    padding: 0.2em 0 0.2em 2px;
    font-weight: bold;
}

#pnf_onlinelist {
    margin: 2px; 
    float: left;
}

#pnf_onlinelist ul li {
    margin-left: 0.8em; 
    font-size: 85%;
    float: left;
    color: black;
}

#pnf_onlinelist p {
    clear: left; 
    margin: 0;
    padding: 1em 0 0 0;    
    font-size: 80%;
}

#pnf_footer_line {
    float: left; 
    margin: 1em 0 1em 0; 
    width: 99%; 
    font-size: 80%;
    line-height: 2em; 
    text-align: center;
} 

/*******************************
 * pnforum_user_latestposts.html
 *******************************/
 
#latestposts {
/* do not delete */
}

#latestposts .optionline {
    font-size: 1em;
    height: 1.8em;
    padding-top: 0.4em;
    text-align: center; 
}

.latestposts_thd40 {
    text-align: center;
    width: 40%;
    font-size: 1em;
    height: 2.2em;
    vertical-align: middle;
    border-top-width: 2px;
    border-top-style: solid;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-right: 0;
    border-left: 0;
}

.latestposts_thd15l {
    width: 15%;
    text-align: center;
    font-size: 1em;
    height: 2.2em;
    vertical-align: middle;
    border-top-width: 2px;
    border-top-style: solid;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-right: 0;
    border-left-width: 2px;
    border-left-style: solid;
}

.latestposts_thd15r {
    width: 15%;
    text-align: center;
    font-size: 1em;
    height: 2.2em;
    vertical-align: middle;
    border-top-width: 2px;
    border-top-style: solid;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-right-width: 2px;
    border-right-style: solid;
    border-left: 0;
}

.latestposts_thd10 {
    width: 10%;
    text-align: center;
    font-size: 1em;
    height: 2.2em;
    vertical-align: middle;
    border-top-width: 2px;
    border-top-style: solid;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-right: 0;
    border-left: 0;
}

.latestposts_thd20 {
    width: 20%;
    text-align: center;
    font-size: 1em;
    height: 2.2em;
    vertical-align: middle;
    border-top-width: 2px;
    border-top-style: solid;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-right: 0;
    border-left: 0;
}

.latestposts_thd5 {
    width: 5%;
    text-align: center;
    font-size: 1em;
    height: 2.2em;
    vertical-align: middle;
    border-top-width: 2px;
    border-top-style: solid;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-left: 0;
    border-right: 0;
}

/*******************************
 * pnforum_user_search.html
 * pnforum_search.html
 *******************************/

#pnfsearch {
    padding: 1em 0 1em 0;
    overflow:hidden;
}

#pnfsearch .searchleft {
    margin: 4px 0 4px 0; 
    float: left; 
    width: 35%; 
    text-align: right;
}

#pnfsearch .searchright {
    float: left; 
    width: 60%; 
    text-align: left; 
    margin: 4px 0 4px 0; 
}

/**
 * pnforum_admin_assignranks.html
 *
 */
div.rankuser-alphanav {
  text-align:center;
  margin: 1em 0 1em 0;
}
   
/*
 * clearfix solution
 */

.pnf_clearfix:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}

.pnf_clearfix {display: inline-table;}

/* Hides from IE-mac \*/
* html .pnf_clearfix {height: 1%;}
.pnf_clearfix {display: block;}
/* End hide from IE-mac */

/* Overflow-Methode zum Clearen der Float-Umgebungen */
.pnf_floatbox { 
    overflow:hidden; 
}

.posting {
    margin: 5px 0 10px 0; 
    border-width: 2px;
    border-style: solid; 
}

.postingheader {
    border-bottom-width: 2px; 
    border-bottom-style: solid; 
    height: 2.5em; 
}

.postingheaderleft {
    text-align: left; 
    margin: 0.5em 0 0 5px; 
    width: 19%; 
    float:left;
}

.postingheaderright {
    text-align:right; 
    margin: 0.5em 5px 0 0; 
    float: right;
}

.postingheadermiddle {
    text-align: left; 
    margin: 0.3em 5px 0 0; 
    float: left;
    width: 120px;
    line-height: 2em;
}

.postingbody, .postingbody_closed {
    text-align: left; 
    width: 99%;
}

.postingbody_closed {    
    background-image: url(../pnimages/closed_watermark.jpg); 
    background-repeat: repeat;
}

.postingtext_small {
    width: 73%; 
    float: left; 
    padding: 5px 5px 25px 5px; 
    overflow: auto; 
}

.postingtext_big {
    width: 98%; 
    float: left; 
    padding: 5px 5px 25px 5px; 
    overflow: auto;
}

.userinfo {
    margin: 5px; 
    border-width: 2px;
    border-style: solid; 
    padding: 3px 3px 6px 3px; 
    float: left; 
    width: 20%; 
}

.userinfoname {
    font-weight: bold;
    font-size: 1em;
}

.userinforankimage {
    margin-top: 1em;
}

.userinfodetails {
    margin-top: 1em; 
    width: 99%; 
    border-top: 1px solid black;
}

.userinfodetails dl {
    margin: 1em 0 0 0.5em; 
    padding: 0;
}

.userinfodetails dt {
    font-size: 0.8em; 
    text-align: left;
}

.userinfodetails dd {
    font-size: 0.8em; 
    text-align: right;
    font-weight: bold;
}

.userinfoonline {
    color: red;
}

.postingfooter {
    margin-top: 5px; 
    border-top-width: 2px;
    border-top-style: solid; 
    height: 2.5em; 
}

.postingfooterleft {
    text-align: left; 
    margin: 3px 0 0 5px; 
    float: left;
}

.postingfooterright {
    text-align: right; 
    margin: 3px 10px 0 0;
    float: right;
}

.postingbutton a {
    margin: 0 3px 0 3px;
}

.postingbuttonhidden {
    margin: 0 3px 0 3px;
    display: none;
}

a.normallink {
    padding-left: 0 ! important;
    background: none no-repeat bottom left ! important;
}

.topicheader {
    float: left; 
    width: 99%; 
    margin-top: 1em; 
    border-width: 2px;
    border-style: solid; 
    
}

.topicheaderleft {
    float: left; 
    width: 19%; 
    margin: 5px 0 0 5px;
}

.topicheaderright {
    font-size: 1.6em; 
    line-height: 1.65em; 
    font-weight: bold; 
    float: left; 
    width: 79%;
}

#pnforuminformation {
    visibility: hidden; 
    color: red; 
    text-align: center; 
    font-weight: bold; 
    margin: 2px 0 2px 0; 
    padding: 2px 0 2px 0;
}

#quickreply, #newtopic {
    width: 99%; 
    float: left; 
    margin-top: 1.5em;
}

#similartopics {
    float:left;
    margin-top: 1.5em;
}

#quickreplyoptions, #newtopicoptions, #editpostoptions, #replyoptions {
    width:49%; 
    float: left; 
    text-align: left; 
    margin-top: 1em;
}

#quickreplyhooks, #newtopichooks, #editposthooks, #replyhooks {
    width: 49%;
    float: right;
    margin-top: 1em;
}    

#newtopicconfirmation {
    text-align: center; 
    width: 99%; 
    padding: 5em 0 5em 0;
}

.pnf_handle {
    cursor: move;
}

.pnf_textarea {
    background-image: url(../pnimages/posthint.gif);
    background-repeat: no-repeat;
    background-position: top right;    
}
.pnf_textarea:focus {
    background-image: none;
}

.pnf_newcategory {
    width: 95%; 
    margin: 0.2em 0 0.2em 2em;
}

.pnf_treeforumlist {
/* dont't remove this - needed for Ajax! */
}

/**
 *
 * css for resizable.js
 *
 */

.textarea-active {
	background-color: #eeeeee;
}

.textarea-wrapper {
	border: 1px dashed #808080;
}

.textarea-resizer {
	height: 11px;
	font-size: 11px;
	line-height: 11px;
	background: #E0E0E0 url(../pnimages/resize-handler.gif) no-repeat 100% 100%;
	border: 1px solid #B0B0B0;
	cursor: se-resize;
}

/*
 * styling of links with images 
 *
 * Note: When use a CSS3 feature to highlight external the following image normally
 *       would not be visisble. The ! important fixes this.
 * a[href^="http:"],
 * a[href^="https:"] {
 *     padding-left: 1.5em;
 *     background: url('images/internet.gif') no-repeat bottom left;
 * }
 *
 */

#pnforum a.image {
    margin: 0 0.5em;
    font-size: 1em;
    padding: 2px 0 2px 19px ! important; /* 16px image + spacer */
}

#pnforum a.rsslink {
    background: url(../pnimages/icon_rss.gif) no-repeat 0 50%;
}

#pnforum a.latestpostslink {
    background: url(../pnimages/icon_latestposts.gif) no-repeat 0 50% ! important;
}

#pnforum a.searchlink {
    background: url(../pnimages/icon_search.gif) no-repeat 0 50% ! important;
}

#pnforum a.homelink {
    background: url(../pnimages/icon_home.gif) no-repeat 0 50% ! important;
}

#pnforum a.loginlink {
    background: url(../pnimages/icon_login.gif) no-repeat 0 50% ! important;
}

#pnforum a.registerlink {
    background: url(../pnimages/icon_register.gif) no-repeat 0 50% ! important;
}

#pnforum a.searchpostslink {
    background: url(../pnimages/icon_searchposts.gif) no-repeat 0 50% ! important;
}

#pnforum a.configurelink {
    background: url(../pnimages/icon_configure.gif) no-repeat 0 50% ! important;
}

#pnforum a.folderlink {
    background: url(../pnimages/icon_folder.gif) no-repeat 0 50% ! important;
}

#pnforum a.newpostsfolderlink {
    background: url(../pnimages/icon_redfolder.gif) no-repeat 0 50% ! important;
}

#pnforum a.categorylink {
    background: url(../pnimages/icon_folder.gif) no-repeat 0 50% ! important;
}

#pnforum a.newpostscategorylink {
    background: url(../pnimages/icon_redfolder.gif) no-repeat 0 50% ! important;
}

#pnforum a.moderatelink {
    background: url(../pnimages/icon_moderate.gif) no-repeat 0 50% ! important;
}

#pnforum a.newtopiclink {
    background: url(../pnimages/icon_newtopic.gif) no-repeat 0 50% ! important;
}

#pnforum a.subscribelink {
    background: url(../pnimages/icon_subscribe.gif) no-repeat 0 50% ! important;
}

#pnforum a.unsubscribelink {
    background: url(../pnimages/icon_unsubscribe.gif) no-repeat 0 50% ! important;
}

#pnforum a.addfavoritelink {
    background: url(../pnimages/icon_addfavorite.gif) no-repeat 0 50% ! important;
}

#pnforum a.removefavoritelink {
    background: url(../pnimages/icon_removefavorite.gif) no-repeat 0 50% ! important;
}

#pnforum a.mailtolink {
    background: url(../pnimages/icon_mailto.gif) no-repeat 0 50% ! important;
}

#pnforum a.printlink {
    background: url(../pnimages/icon_print.gif) no-repeat 0 50% ! important;
}

#pnforum a.subscribetopiclink {
    background: url(../pnimages/icon_subscribe.gif) no-repeat 0 50% ! important;
}

#pnforum a.unsubscribetopiclink {
    background: url(../pnimages/icon_unsubscribe.gif) no-repeat 0 50% ! important;
}

#pnforum a.locktopiclink {
    background: url(../pnimages/icon_lock.gif) no-repeat 0 50% ! important;
}

#pnforum a.unlocktopiclink {
    background: url(../pnimages/icon_unlock.gif) no-repeat 0 50% ! important;
}

#pnforum a.stickytopiclink {
    background: url(../pnimages/icon_sticky.gif) no-repeat 0 50% ! important;
}

#pnforum a.unstickytopiclink {
    background: url(../pnimages/icon_unsticky.gif) no-repeat 0 50% ! important;
}

#pnforum a.movetopiclink {
    background: url(../pnimages/icon_move.gif) no-repeat 0 50% ! important;
}

#pnforum a.deletetopiclink {
    background: url(../pnimages/icon_delete.gif) no-repeat 0 50% ! important;
}

#pnforum a.movepostlink {
    background: url(../pnimages/icon_move.gif) no-repeat 0 50% ! important;
}

#pnforum a.splittopiclink {
    background: url(../pnimages/icon_split.gif) no-repeat 0 50% ! important;
}

#pnforum a.editpostlink {
    background: url(../pnimages/icon_edit.gif) no-repeat 0 50% ! important;
}

#pnforum a.quotepostlink {
    background: url(../pnimages/icon_quote.gif) no-repeat 0 50% ! important;
}

#pnforum a.notifymoderatorlink {
    background: url(../pnimages/icon_notify.gif) no-repeat 0 50% ! important;
}

#pnforum a.linktopostlink {
    background: url(../pnimages/icon_postlink.gif) no-repeat 0 50% ! important;
}

#pnforum a.sendpmlink {
    background: url(../pnimages/icon_email.gif) no-repeat 0 50% ! important;
}

#pnforum a.gotohomepagelink {
    background: url(../pnimages/icon_www.gif) no-repeat 0 50% ! important;
}

#pnforum a.viewprofilelink {
    background: url(../pnimages/icon_profile.gif) no-repeat 0 50% ! important;
}

#pnforum a.previoustopiclink {
    background: url(../pnimages/icon_previous.gif) no-repeat 0 50% ! important;
}

#pnforum a.nexttopiclink {
    background: url(../pnimages/icon_next.gif) no-repeat 0 50% ! important;
}

#pnforum a.sortorderasclink {
    background: url(../pnimages/icon_up.gif) no-repeat 0 50% ! important;
}

#pnforum a.sortorderdesclink {
    background: url(../pnimages/icon_down.gif) no-repeat 0 50% ! important;
}

#pnforum a.gototoplink {
    background: url(../pnimages/icon_up.gif) no-repeat 0 50% ! important;
}

#pnforum a.gotobottomlink {
    background: url(../pnimages/icon_down.gif) no-repeat 0 50% ! important;
}

#pnforum a.discussinforumlink {
    background: url(../pnimages/icon_discuss.gif) no-repeat 0 50% ! important;
}
