/*  $Id$  */

/*
 * general settings
 */
button, button.right, button.left {
    border: none;
    background: transparent;
    margin: 0 0.5em 0 0.5em;
    padding: 0;
    border-bottom: 1px dashed black;
    cursor: pointer;
}

button.right {
    float:right; 
    margin: 1em 2em 1em 0;
}

button.left {
    float: left; 
    margin: 1em 0 1em 2em;
}

table {
    border-collapse: collapse;
    width: 100%;
}

/*
 * obsolete pnf_* ?
 */    
.pnForum-title {
    font-size: 12px;
}

.pnForum-border {
    border-collapse: collapse;

}

a.pnForum_links {
    background: red;
    border: 1px solid blue;
    color: yellow;
}

div.pnfadminrow98 {
    /* clear: both; */
    width: 98%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

div.pnfadmincol66,  div.pnfadmincol49,  div.pnfadmincol33,  div.pnfadmincol24,  div.pnfadmincol22,  div.pnfadmincol16,  div.pnfadmincol12,
div.pnfadmincol66c, div.pnfadmincol49c, div.pnfadmincol33c, div.pnfadmincol24c, div.pnfadmincol22c, div.pnfadmincol16c, div.pnfadmincol12c {
    float: left;
}

div.pnfadmincol66, div.pnfadmincol49, div.pnfadmincol33, div.pnfadmincol24, div.pnfadmincol22, div.pnfadmincol16, div.pnfadmincol12 {
    text-align: left;
}

div.pnfadmincol66c, div.pnfadmincol49c, div.pnfadmincol33c, div.pnfadmincol24c, div.pnfadmincol22c, div.pnfadmincol16c, div.pnfadmincol12c {
    text-align: center;
 }

div.pnfadmincol66, div.pnfadmincol66c {
    width: 66%;
}

div.pnfadmincol49, div.pnfadmincol49c {
    width: 49%;
}

div.pnfadmincol33, div.pnfadmincol33c {
    width: 33%;
}

div.pnfadmincol24, div.pnfadmincol24c {
    width: 24%;
}

div.pnfadmincol22, div.pnfadmincol22c {
    width: 22%;
}

div.pnfadmincol16, div.pnfadmincol16c {
    width: 16%;
}

div.pnfadmincol12, div.pnfadmincol12c {
    width: 12%;
}

div.pnfadminclear {
    clear: both;
}

dt.pnfadmin {
    clear: both;
    width: 40%;
    float: left;
    padding-top: 1em;
    padding-bottom: 1em;
}

dd.pnfadmin {
    width: 40%;
    float: left;
    padding-top: 1em;
    padding-bottom: 1em;
}

.pnfuserrow98 {
    clear: both;
    width: 98%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.pnfusercol25 {
    width: 25%;
    float: left;
}

.pnfusercol49 {
    width: 49%;
    float: left;
}

.pnfusercol66 {
    width: 66%;
    float: left;
}

.pnfusercol33 {
    width: 33%;
    float: left;
}

.pnfusercol60 {
    width: 60%;
    float: left;
}

.pnfusercol30 {
    width: 30%;
    float: left;
}

.pnfusercol75 {
    width: 75%;
    float: left;
}

.pnfusercol37 {
    width: 37%;
    float: left;
}

#pnforum_admin fieldset {
    font-size: 1em;
    width: 95%;
    padding: 0.5em 0.5em 1em 0.5em;
    margin: 3px;
}

#pnforum_admin legend {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 1em;
}

.displayhook {
    clear: both;
    padding: 5px;
    text-align: center;
}

.post-header-row, .post-bottom-row {
    /* clear: both; */
    width: 98%;
    border: 1px solid red;
}
.post-header-left {
    /* clear: both; */
    width: 24%;
    float: left;
    height: 2em;
    text-align: left;
    margin-left: 3px;
    margin-top: 0.5em;
}

.post-header-right {
    width: 74%;
    float: left;
    height: 2em;
    text-align: right;
    margin-right: 5px;
    margin-top: 0.5em;
}

.post-title-row {
    width: 98%;
}

.post-title-left {
    width: 24%;
    float: left;
    text-align: left;
    margin-left: 3px;
}

.post-title-right {
    width: 74%;
    float: left;
    text-align: left;
    margin-left: 3px;
    font-size: 2em;
    font-weight: bold;
}

.post-content-row {
    /* clear: both; */
    width: 98%;
}

.post-userinfo {
    /* clear: both; */
    width: 24%;
    float: left;
    margin: 3px;
    text-align: left;
    overflow: visible;
}

.post-text {
    width: 74%;
    float: left;
    text-align: left;
    margin: 3px;
    overflow: visible;
}

.post-bottom-left {
    /* clear: both; */
    width: 24%;
    float: left;
    text-align: left;
    margin-left: 3px;
}

.post-bottom-right {
    width: 74%;
    float: left;
    text-align: left;
    margin-left: 3px;
}

.post-bottom2 {
    /* clear: both; */
    width: 98%;
    float: left;
    text-align: right;
    margin-right: 3px;
}

.post-bottom-userinfo {
    width: 49%;
    text-align: left;
    float: left;
    margin-left: 5px;
}

.post-bottom-useroptions {
    width: 49%;
    text-align: right;
    float: right;
    margin-right: 5px;
}

.quickreply-options, .quickreply-options-header {
    /* clear: both; */
    width: 30%;
    float: left;
    text-align: left;
}

.quickreply-text, .quickreply-text-header {
    width: 66%;
    float: left;
}

.newtopic-options, .newtopic-options-header {
    /* clear: both; */
    width: 30%;
    float: left;
    text-align: left;
}

.newtopic-text, .newtopic-text-header {
    width: 66%;
    float: left;
}

.searchresultlist {
    list-style-type: none;
}

.searchresult {

    border: 1px solid black;
    margin: 5px;
    padding: 3px;
    background: #E5E7E8;
}

ul.pnf_maincategorylist {
    padding: 0;
    margin: 0;
    list-style: none;
}

ul.pnf_maincategorylist li {
    padding: 0 0 0.5em 0;
    margin: 0;
    padding-left: 3em;
    background-repeat: no-repeat;
    background-position: 0 1em;
    border-top: 1px #666 dashed;
}
ul.pnf_maincategorylist li.newposts {
    background-image: url(../pnimages/red_folder.gif);
}

ul.pnf_maincategorylist li.nonewposts {
    background-image: url(../pnimages/folder.gif);
}

ul.pnf_mainforumlist {
    padding: 0;
    margin: 0;
    list-style: none;
}

ul.pnf_mainforumlist li {
    margin: 0;
    padding: 0 0 0.5em 3em;
    background-repeat: no-repeat;
    background-position: 0 2em;
    border-top: 1px #666 dashed;
}
ul.pnf_mainforumlist li.newposts {
    background-image: url(../pnimages/red_folder.gif);
}

ul.pnf_mainforumlist li.nonewposts {
    background-image: url(../pnimages/folder.gif);
}

ul.pnf_forumlist {
    padding: 0 0 0 0.8em;
    margin: 0 0 0 0.8em;
    list-style-position: outside;
    list-style-image: url('../pnimages/arrow.gif');
}

ul.pnf_forumlist li {
    padding: 0;
    margin: 0;
}

.pnf_postlist {
    padding: 0 0 0 0.8em;
    margin: 0 0 0 0.8em;
    list-style-position: outside;
    list-style-image: url('../pnimages/arrow.gif');
}

ul.pnf_postlist li {
    padding: 0;
    margin: 0;
}

.pnf_posterlist {
    padding: 0 0 0 0.8em;
    margin: 0 0 0 0.8em;
    list-style-position: outside;
    list-style-image: url('../pnimages/arrow.gif');
}

ul.pnf_posterlist li {
    padding: 0;
    margin: 0;
}

.pnf_statslist {
    padding: 0 0 0 0.8em;
    margin: 0 0 0 0.8em;
    list-style-position: outside;
    list-style-image: url('../pnimages/arrow.gif');
}

ul.pnf_statslist li {
    padding: 0;
    margin: 0;
}

div.pnf_statusmsg {
    margin: 5px 0 5px 0;
    padding: 5px 0 5px 0;
    text-align:center;
    width:99%;
    border: 1px solid red;
    font-size: 1.2em;
    font-weight: bold;
}

.pnfadminuser {
    color: red;
}
.pnfnoadminuser {
    color: green;
}

.pnf_invisible {
    position:absolute;
    left:-1000px;
    top:-1000px;
    width:0;
    height:0;
    overflow:hidden;
    display:inline;
}

/*
 * main pnforum div
 */
#pnforum {
}

#pnforum ul {
    margin: 0;
    padding: 0;
    list-style-type: none
}

#pnforum li {
    margin: 0;
    padding: 0;
}


#pnforum dt.prefs {
    width: 50%;
    text-align: left;
    float: left;
    padding: 0.5em 0 0.5em 0;
}

#pnforum dd.prefs {
    width: 40%;
    text-align: left;
    float: left;
    padding: 0.5em 0 0.5em 0;
}

/*************************
 * pnforum_user_prefs.html
 *************************/
#userprefs {
    float: left; 
    margin-top: 1em;
}

#userprefs .thd50 {
    width:50%; 
    height:2.2em;
    vertical-align: middle;
    padding: 0.2em;
    border: none;
}

#userprefs .thd25 {
    width:25%; 
    height:2.2em;
    text-align: center;
    vertical-align: middle;
    padding: 0.2em;
    border: none;
}

#userprefs tr {
   vertical-align: middle;
   text-align:left;
}

/*******************************
 * pnforum_user_footer.html
 *******************************/

#footer_line {
    float: left; 
    margin: 1em 0 1em 0; 
    width: 99%; 
    font-size: 0.8em; 
    text-align: center;
} 

/*******************************
 * pnforum_user_latestposts.html
 *******************************/
 
#latestposts {
/* do not delete */
}

#latestposts .optionline {
    font-size: 1em;
    height: 1.8em;
    padding-top: 0.4em;
    text-align: center; 
}

.latestposts_thd50 {
    width: 50%;
    text-align: center;
    font-size: 1em;
    height: 2.2em;
    vertical-align: middle;
    border: none;
}

.latestposts_thd15 {
    width: 15%;
    text-align: center;
    font-size: 1em;
    height: 2.2em;
    vertical-align: middle;
    border: none;
}

.latestposts_thd20 {
    width: 20%;
    text-align: center;
    font-size: 1em;
    height: 2.2em;
    vertical-align: middle;
    border: none;
}

/*
 * clearfix solution
 */

.pnf_clearfix:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}

.pnf_clearfix {display: inline-table;}

/* Hides from IE-mac \*/
* html .pnf_clearfix {height: 1%;}
.pnf_clearfix {display: block;}
/* End hide from IE-mac */

.posting {
    margin: 5px 0 10px 0; 
    border: 1px solid black; 
}

.postingheader {
    border-bottom: 1px solid black; 
    height: 2.5em; 
}

.postingheaderleft {
    text-align: left; 
    margin: 0.5em 0 0 5px; 
    width: 19%; 
    float:left;
}

.postingheaderright {
    text-align:right; 
    margin: 0.5em 5px 0 0; 
    float: right;
}

.postingheadermiddle {
    text-align: left; 
    margin: 0.3em 5px 0 0; 
    float: left;
}

.postingbody, .postingbody_closed {
    text-align: left; 
    width: 100%;
}

.postingbody_closed {    
    background-image: url(../pnimages/closed_watermark.jpg); 
    background-repeat: repeat;
}

.postingtext_small {
    width: 78%; 
    float: left; 
    padding: 5px 5px 25px 5px; 
    overflow: auto; 
}

.postingtext_big {
    width: 98%; 
    float: left; 
    padding: 5px 5px 25px 5px; 
    overflow: auto;
}

.userinfo {
    margin: 5px; 
    border: 1px solid black; 
    padding: 3px 3px 6px 3px; 
    float: left; 
    width: 17%; 
}

.userinfoname {
    font-weight: bold;
    font-size: 1em;
}

.userinforankimage {
    margin-top: 1em;
}

.userinfodetails {
    margin-top: 1em; 
    width: 99%; 
    border-top: 1px solid black;
}

.userinfodetails dl {
    margin: 1em 0 0 0.5em; 
    padding: 0;
}

.userinfodetails dt {
    font-size: 0.8em; 
    text-align: left;
}

.userinfodetails dd {
    font-size: 0.8em; 
    text-align: right;
    font-weight: bold;
}

.userinfoonline {
    color: red;
}

.postingfooter {
    margin-top: 5px; 
    border-top: 1px solid black; 
    height: 2.5em; 
}

.postingfooterleft {
    text-align: left; 
    margin: 3px 0 0 5px; 
    float: left;
}

.postingfooterright {
    text-align: right; 
    margin: 3px 10px 0 0;
    float: right;
}

a.postingbutton {
    margin: 0 3px 0 3px;
}

a.postingbuttonhidden {
    margin: 0 3px 0 3px;
    display: none;
}

a.normallink {
    padding-left: 0 ! important;
    background: none no-repeat bottom left ! important;
}

.topicheader {
    float: left; 
    width: 100%; 
    margin-top: 1em; 
    border: 1px solid black; 
}

.topicheaderleft {
    float: left; 
    width: 19%; 
    margin: 5px 0 0 5px;
}

.topicheaderright {
    font-size: 1.6em; 
    line-height: 1.65em; 
    font-weight: bold; 
    float: left; 
    width: 80%;
}

#pnforuminformation {
    visibility: hidden; 
    color: red; 
    text-align: center; 
    font-weight: bold; 
    margin: 2px 0 2px 0; 
    padding: 2px 0 2px 0;
}

#quickreply, #newtopic {
    width: 100%; 
    float: left; 
    margin-top: 1.5em;
}

#quickreplyoptions, #newtopicoptions {
    width:40%; 
    float: left; 
    text-align: left; 
    margin-top: 1em;
}

#quickreplyhooks, #newtopichooks {
    width: 50%;
    float: right;
    margin-top: 1em;
}    

#newtopicconfirmation {
    text-align: center; 
    width: 99%; 
    padding: 5em 0 5em 0;
}

.pnf_handle {
    cursor: move;
}

.pnf_textarea {
    background-image: url(../pnimages/posthint.gif);
    background-repeat: no-repeat;
    background-position: top right;    
}

.pnf_newcategory {
    width: 95%; 
    margin: 0.2em 0 0.2em 2em;
}

.pnf_treeforumlist {
/* dont't remove this - needed for Ajax! */
}
